#include <winver.h>

MYICON ICON "icon.ico"
DEREVO JPG "derevo.jpg"

1               VERSIONINFO
FILEVERSION     1, 3, 3, 7
PRODUCTVERSION  1, 3, 3, 7
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription", "Does strange things"
      VALUE "FileVersion", "1.3.3.7"
      VALUE "ProductVersion", "1.3.3.7"
      VALUE "InternalName", "derevo",
      VALUE "OriginalFilename", "derevo",
      VALUE "ProductName", "derevo"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
